In [1]:
import os
import sys
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import numpy as np
import datetime
import time
import dask.dataframe as dd
import seedir as sd

import warnings
warnings.filterwarnings("ignore")

## Loading

The data was loaded and transofrmed via connecting to the database with Spark SQL  
Naturaly this data must not be extracted to the public repos so for the purpose of demonstration I have made up a few cedits to show typical cases

## Detailed approach

In [2]:
sd.seedir(style='emoji', itemlimit=10, beyond='ellipsis', exclude_folders=['.git', '.ipynb_checkpoints'])

ğŸ“ InterestCharging/
â”œâ”€ğŸ“ data/
â”‚ â”œâ”€ğŸ“„ ActualOperations.csv
â”‚ â””â”€ğŸ“„ Rates.csv
â”œâ”€ğŸ“„ InterestCharging.ipynb
â””â”€ğŸ“ output/
  â”œâ”€ğŸ“„ df_results_detailed.csv
  â””â”€ğŸ“„ df_results_expedited.csv

In [3]:
# DataFrame containing interest rates of the credits

df_rates = pd.read_csv('data/Rates.csv')
df_rates['c_rate_begin_date'] = pd.to_datetime(df_rates['c_rate_begin_date'])
df_rates['c_rate_end_date'] = pd.to_datetime(df_rates['c_rate_end_date'])
df_rates

   credit_id c_rate_begin_date c_rate_end_date  c_rate
0          1        2021-01-01             NaT   11.90
1          2        2021-01-01      2021-08-26   16.90
2          2        2021-08-27      2022-02-01    1.69
3          2        2022-02-02             NaT   16.90
4          3        2021-01-01             NaT   14.95
5          4        2021-01-01             NaT   15.90

In [4]:
# DataFrame containing actual operations of the credits

df_ao = pd.read_csv('data/ActualOperations.csv')
df_ao['c_date'] = pd.to_datetime(df_ao['c_date'])
df_ao

     credit_id     c_date                  c_oper_name  c_amount
0            1 2021-01-01               Credit issuing 341582.70
1            1 2021-01-03            Charging interest    222.73
2            1 2021-01-03             Credit repayment   1884.43
3            1 2021-01-03             Credit repayment   1426.00
4            1 2021-01-09            Charging interest    661.72
..         ...        ...                          ...       ...
281          4 2022-02-15  Charging interest (on debt)    904.05
282          4 2022-02-28  Charging interest (on debt)    790.60
283          4 2022-03-15  Charging interest (on debt)    944.97
284          4 2022-03-31  Charging interest (on debt)   1016.70
285          4 2022-04-15  Charging interest (on debt)    991.34

[286 rows x 4 columns]

In [5]:
class Credit():
    '''
        Class contains all the information about the credit 
         and allows to recalculate the amount of the following operations:
         'Charging interest', 'Charging interest (on debt)', 'Charging interest on the date of restructurization'
    '''
    
    def __init__(self, df_rates, df_ao):
        
        self.credit_ID = df_rates.iloc[0]['credit_id']
        self.interest_rate = df_rates[['c_rate', 'c_rate_begin_date']]
        self.df_ao = df_ao
        self.df_ao['c_date'] = pd.to_datetime(self.df_ao['c_date'])
        self.opers_to_observe = ['Charging interest', 'Charging interest (on debt)', 'Charging interest on the date of restructurization']
        if len(df_ao):
            self.amount = df_ao[df_ao['c_oper_name'] == 'Credit issuing'].iloc[0]['c_amount']
            self.issue_date = df_ao[df_ao['c_oper_name'] == 'Credit issuing']['c_date'].iloc[0]
            self.last_date = df_ao['c_date'].iloc[-1]


        
        
                
    def set_per_day_info(self):
        '''
            Creates a 'df_daily' DataFrame with the following columns:
                date: contains all dates between the issue date and the last operation date
                interest_rate: contains the interest rates which were valid at each date from 'date' column
                days_in_year: contains the number of days in the year of each date from 'date' column
                balance_owed: contains the amount of balance owed at each date from 'date' column
                debt_owed: contains the amount of debt owed at each date from 'date' column
        '''
        
        df_daily = pd.DataFrame()
        df_daily['date'] = pd.date_range(self.issue_date, self.last_date, freq='D')
        df_daily['interest_rate'] = df_daily['date'].apply(lambda date: self.interest_rate[(date >= self.interest_rate['c_rate_begin_date'])]\
                                                     ['c_rate'].iloc[-1])
        df_daily['days_in_year'] = df_daily['date'].apply(lambda date: 366 if (date.year % 4 == 0) and (date.year % 100 != 0) or (date.year % 400 == 0) else 365)
        df_daily['balance_owed'] = df_daily['date'].apply(lambda date: self.amount - \
                                                pd.to_numeric(self.df_ao[(self.df_ao['c_date'] <= date) \
                                                                       & (self.df_ao['c_oper_name'].isin(['Credit repayment']))]['c_amount']).sum() - \
                                                pd.to_numeric(self.df_ao[(self.df_ao['c_date'] <= date) \
                                                                       & (self.df_ao['c_oper_name'].isin(['Overdue payment']))]['c_amount']).sum())
        df_daily['debt_owed'] = df_daily['date'].apply(lambda date: \
                                                pd.to_numeric(self.df_ao[(self.df_ao['c_date'] <= date) \
                                                                       & (self.df_ao['c_oper_name'].isin(['Overdue payment']))]['c_amount']).sum() - \
                                                pd.to_numeric(self.df_ao[(self.df_ao['c_date'] <= date) \
                                                                       & (self.df_ao['c_oper_name'].isin(['Debt repayment']))]['c_amount']).sum())
        self.df_daily = df_daily
        
        

                    
    def set_df_interest(self):
        '''
            Creates a 'df_interest' DataFrame with the following columns:
                credit_id: a slice of the df_ao containing operations of charging interest
                c_date: a slice of the df_ao containing operations of charging interest
                c_oper_name: a slice of the df_ao containing operations of charging interest
                c_amount_fact: a slice of the df_ao containing operations of charging interest ('c_amount' column)
                c_amount_exp: the expected amount of the 'charging interest' operations calculated via applying 'get_interest'
                c_amount_exp - c_amount_fact: the difference of the according columns
        '''
        
        df_interest = pd.DataFrame()
        
        if len(self.df_ao) == 0:
            self.diff = np.NaN
            self.abs_diff = np.NaN
            self.df_interest = df_interest
        else:
            df_interest = self.df_ao[self.df_ao['c_oper_name'].isin(self.opers_to_observe)].rename({'c_amount': 'c_amount_fact'}, axis='columns')
            df_interest['c_date'] = pd.to_datetime(df_interest['c_date'])
            df_interest['credit_id'] = self.credit_ID

            self.set_per_day_info()

            def get_interest(row):
                '''
                    Returns the amount of interest charged on a particular operation
                    The sum is calculated via multiplying corresponding columns of 'df_daily' slice* and summing the resulting productions
                    * the slice is made via picking only those dates which account for the charging period
                '''
                
                oper_name = row['c_oper_name']
                date = row['c_date']

                if oper_name in ['Charging interest', 'Charging interest on the date of restructurization']:
                    prev_date = self.df_ao[(self.df_ao['c_date'] < date) & (self.df_ao['c_oper_name'].isin(\
                                           ['Credit issuing', 'Charging interest', 'Charging interest on the date of restructurization']))]\
                                          ['c_date'].iloc[-1]
                    df_daily_i = self.df_daily[(self.df_daily['date'] >= prev_date) & (self.df_daily['date'] < date)]
                    return (df_daily_i['balance_owed'] * df_daily_i['interest_rate'] / 100 / df_daily_i['days_in_year']).sum()
                
                else: # if oper_name == 'Charging interest (on debt)':
                    prev_date = self.df_ao[(self.df_ao['c_date'] < date)][self.df_ao['c_oper_name'].isin(\
                                           ['Overdue payment', 'Charging interest (on debt)'])]\
                                          ['c_date'].iloc[-1]
                    df_daily_i = self.df_daily[(self.df_daily['date'] >= prev_date) & (self.df_daily['date'] < date)]
                    return (df_daily_i['debt_owed'] * df_daily_i['interest_rate'] / 100 / df_daily_i['days_in_year']).sum()


                

            df_interest['c_amount_exp'] = df_interest.apply(lambda row: get_interest(row), axis=1)
            df_interest['c_amount_exp - c_amount_fact'] = df_interest['c_amount_exp'] - df_interest['c_amount_fact']

            self.diff = df_interest['c_amount_exp - c_amount_fact'].sum()
            self.abs_diff = df_interest['c_amount_exp - c_amount_fact'].apply(lambda x: abs(x)).sum()
            self.df_interest = df_interest

In [6]:
list_of_credit_ids = list(df_rates['credit_id'].drop_duplicates())
start_time = time.time()

credits = []

# resulting DataFrame
df_results = pd.DataFrame(columns=['credit ID', 'difference', 'abs difference'])

for i, credit_id in enumerate(list_of_credit_ids):
    
    # slices of df_rates and df_ao which relate to the particular credit to feed into Credit constructor
    df_rates_i = df_rates[df_rates['credit_id'] == credit_id].reset_index(drop=True)
    df_ao_i = df_ao[df_ao['credit_id'] == credit_id].reset_index(drop=True)

    credit_i = Credit(df_rates_i, df_ao_i)
    credit_i.set_df_interest()
    df_results.loc[len(df_results)] = [credit_id, credit_i.diff, credit_i.abs_diff]
    
    credits.append(credit_i)
    
    df_results.to_csv('output/df_results_detailed.csv', index=None)
    
    print(f'Credit {i} is processed; time taken = {round(time.time() - start_time, 2)}')

Credit 0 is processed; time taken = 2.26
Credit 1 is processed; time taken = 4.48
Credit 2 is processed; time taken = 6.62
Credit 3 is processed; time taken = 8.82

In [7]:
df_results['credit ID'] = df_results['credit ID'].astype(int)
df_results

   credit ID  difference  abs difference
0          1       -0.03            0.03
1          2       -0.02            0.02
2          3       -2.80          430.56
3          4    -2430.74         2430.74

In [8]:
pd.options.display.max_rows = 320
def get_df_ao_with_pred(credit_id):
    '''
        Returns a DataFrame with actual operations and expected amounts for 'charging interest' operations for <credit_id>
    '''
    i = df_results[df_results['credit ID'] == credit_id].index[0]
    return pd.merge(credits[i].df_ao, credits[i].df_interest, how='left', on=['credit_id', 'c_date', 'c_oper_name'])\
            .drop('c_amount_fact', axis='columns').rename({'c_amount': 'c_amount_fact'}, axis='columns')

In [9]:
# everything seems fine here

get_df_ao_with_pred(1)

,credit_id,c_date,c_oper_name,c_amount_fact,c_amount_exp,c_amount_exp - c_amount_fact
0,1,2021-01-01,Credit issuing,341582.70,nan,nan
1,1,2021-01-03,Charging interest,222.73,222.73,-0.00
2,1,2021-01-03,Credit repayment,1884.43,nan,nan
3,1,2021-01-03,Credit repayment,1426.00,nan,nan
4,1,2021-01-09,Charging interest,661.72,661.72,-0.00
5,1,2021-01-09,Credit repayment,500.84,nan,nan
6,1,2021-01-24,Charging interest,1651.84,1651.84,-0.00
7,1,2021-01-24,Credit repayment,1779.96,nan,nan
8,1,2021-01-29,Charging interest,547.71,547.71,-0.00
9,1,2021-01-29,Credit repayment,596.71,nan,nan
10,1,2021-01-31,Charging interest,218.70,218.70,-0.00
11,1,2021-01-31,Credit repayment,139.14,nan,nan
12,1,2021-02-01,Charging interest,109.30,109.30,-0.00
13,1,2021-02-06,Charging interest,546.51,546.51,-0.00
14,1,2021-02-06,Credit repayment,1628.11,nan,nan
15,1,2021-02-10,Charging interest,435.09,435.09,-0.00
16,1,2021-02-10,Credit repayment,3680.97,nan,nan
17,1,2021-02-26,Charging interest,1721.15,1721.15,-0.00
18,1,2021-02-26,Credit repayment,46.30,nan,nan
19,1,2021-02-27,Charging interest,107.56,107.56,-0.00
20,1,2021-02-27,Credit repayment,121.66,nan,nan
21,1,2021-02-28,Charging interest,107.52,107.52,-0.00
22,1,2021-02-28,Credit repayment,79.71,nan,nan
23,1,2021-03-01,Charging interest,107.49,107.49,-0.00
24,1,2021-03-10,Charging interest,967.42,967.42,-0.00
25,1,2021-03-10,Credit repayment,1315.64,nan,nan
26,1,2021-03-10,Credit repayment,1410.00,nan,nan
27,1,2021-03-15,Charging interest,533.01,533.01,-0.00
28,1,2021-03-15,Credit repayment,2113.88,nan,nan
29,1,2021-03-25,Charging interest,1059.13,1059.13,-0.00
30,1,2021-03-25,Credit repayment,235.81,nan,nan
31,1,2021-03-31,Charging interest,635.02,635.02,-0.00
32,1,2021-04-01,Charging interest,105.84,105.84,-0.00
33,1,2021-04-09,Charging interest,846.69,846.69,-0.00
34,1,2021-04-09,Credit repayment,3389.37,nan,nan
35,1,2021-04-23,Charging interest,1466.24,1466.24,-0.00
36,1,2021-04-29,Charging interest,628.39,628.39,-0.00
37,1,2021-04-29,Credit repayment,1099.24,nan,nan
38,1,2021-04-30,Charging interest,104.37,104.37,-0.00
39,1,2021-05-01,Charging interest,104.37,104.37,-0.00
40,1,2021-05-13,Charging interest,1252.47,1252.47,-0.00
41,1,2021-05-13,Credit repayment,4104.57,nan,nan
42,1,2021-05-15,Charging interest,206.07,206.07,-0.00
43,1,2021-05-15,Credit repayment,1453.89,nan,nan
44,1,2021-05-19,Charging interest,410.24,410.24,-0.00
45,1,2021-05-19,Credit repayment,79.99,nan,nan
46,1,2021-05-26,Charging interest,717.74,717.74,-0.00
47,1,2021-05-26,Credit repayment,492.69,nan,nan
48,1,2021-05-28,Charging interest,204.75,204.75,-0.00
49,1,2021-05-28,Credit repayment,455.43,nan,nan
50,1,2021-05-29,Charging interest,102.23,102.23,-0.00
51,1,2021-05-29,Credit repayment,227.89,nan,nan
52,1,2021-05-31,Charging interest,204.30,204.30,-0.00
53,1,2021-06-01,Charging interest,102.15,102.15,-0.00
54,1,2021-06-01,Credit repayment,160.00,nan,nan
55,1,2021-06-10,Charging interest,918.89,918.89,-0.00
56,1,2021-06-10,Credit repayment,1332.33,nan,nan
57,1,2021-06-30,Charging interest,2033.29,2033.29,-0.00
58,1,2021-07-01,Charging interest,101.66,101.66,-0.00
59,1,2021-07-01,Credit repayment,10000.00,nan,nan
60,1,2021-07-01,Credit repayment,3110.01,nan,nan
61,1,2021-07-07,Charging interest,584.34,584.34,-0.00
62,1,2021-07-07,Credit repayment,29601.22,nan,nan
63,1,2021-07-09,Charging interest,175.48,175.48,-0.00
64,1,2021-07-09,Credit repayment,1287.10,nan,nan
65,1,2021-07-14,Charging interest,436.60,436.60,-0.00
66,1,2021-07-14,Credit repayment,660.50,nan,nan
67,1,2021-07-31,Charging interest,1480.78,1480.78,-0.00
68,1,2021-07-31,Credit repayment,55.36,nan,nan
69,1,2021-08-01,Charging interest,87.09,87.09,-0.00
70,1,2021-08-02,Charging interest,87.09,87.09,-0.00
71,1,2021-08-02,Credit repayment,4945.57,nan,nan
72,1,2021-08-14,Charging interest,1025.69,1025.69,-0.00
73,1,2021-08-28,Charging interest,1196.64,1196.64,-0.00
74,1,2021-08-28,Credit repayment,103.84,nan,nan
75,1,2021-08-31,Charging interest,256.32,256.32,-0.00
76,1,2021-09-01,Charging interest,85.44,85.44,-0.00
77,1,2021-09-15,Charging interest,1196.16,1196.16,-0.00
78,1,2021-09-15,Credit repayment,4264.93,nan,nan
79,1,2021-09-19,Charging interest,336.20,336.20,-0.00
80,1,2021-09-19,Credit repayment,296.48,nan,nan
81,1,2021-09-27,Charging interest,671.62,671.62,-0.00
82,1,2021-09-27,Credit repayment,193.86,nan,nan
83,1,2021-09-30,Charging interest,251.67,251.67,-0.00
84,1,2021-10-01,Charging interest,83.89,83.89,-0.00
85,1,2021-10-26,Charging interest,2097.25,2097.25,-0.00
86,1,2021-10-26,Credit repayment,4732.65,nan,nan
87,1,2021-10-31,Charging interest,411.73,411.73,-0.00
88,1,2021-11-01,Charging interest,82.35,82.35,-0.00
89,1,2021-11-28,Charging interest,2223.37,2223.37,-0.00
90,1,2021-11-28,Credit repayment,3879.92,nan,nan
91,1,2021-11-30,Charging interest,162.16,162.16,-0.00
92,1,2021-12-01,Charging interest,81.08,81.08,-0.00
93,1,2021-12-23,Charging interest,1783.80,1783.80,-0.00
94,1,2021-12-23,Credit repayment,3956.88,nan,nan
95,1,2021-12-30,Charging interest,558.54,558.54,-0.00
96,1,2021-12-30,Credit repayment,78.65,nan,nan
97,1,2021-12-31,Charging interest,79.77,79.77,-0.00
98,1,2022-01-01,Charging interest,79.77,79.77,-0.00
99,1,2022-01-02,Charging interest,79.77,79.77,-0.00
100,1,2022-01-02,Credit repayment,4954.13,nan,nan
101,1,2022-01-31,Charging interest,2266.38,2266.38,-0.00
102,1,2022-02-01,Charging interest,78.15,78.15,-0.00
103,1,2022-02-28,Charging interest,2110.08,2110.08,-0.00
104,1,2022-02-28,Credit repayment,1812.25,nan,nan
105,1,2022-03-01,Charging interest,77.56,77.56,-0.00
106,1,2022-03-01,Overdue payment,1962.45,nan,nan
107,1,2022-03-10,Charging interest,692.28,692.28,-0.00
108,1,2022-03-10,Charging interest (on debt),5.76,5.76,-0.00
109,1,2022-03-10,Debt repayment,1962.45,nan,nan
110,1,2022-03-25,Charging interest,1153.81,1153.81,-0.00
111,1,2022-03-25,Credit repayment,580.35,nan,nan
112,1,2022-03-31,Charging interest,460.39,460.39,-0.00
113,1,2022-04-01,Charging interest,76.73,76.73,-0.00
114,1,2022-04-01,Overdue payment,3106.94,nan,nan
115,1,2022-04-08,Charging interest,530.03,530.03,-0.00
116,1,2022-04-08,Charging interest (on debt),7.09,7.09,-0.00
117,1,2022-04-08,Debt repayment,3106.94,nan,nan

In [10]:
# and here

get_df_ao_with_pred(2)

,credit_id,c_date,c_oper_name,c_amount_fact,c_amount_exp,c_amount_exp - c_amount_fact
0,2,2021-01-01,Credit issuing,110434.20,nan,nan
1,2,2021-01-07,Charging interest,306.80,306.80,-0.00
2,2,2021-01-07,Credit repayment,1863.95,nan,nan
3,2,2021-01-30,Charging interest,1156.20,1156.20,-0.00
4,2,2021-01-30,Credit repayment,116.21,nan,nan
5,2,2021-01-31,Charging interest,50.22,50.22,-0.00
6,2,2021-02-01,Charging interest,50.22,50.22,-0.00
7,2,2021-02-06,Charging interest,251.08,251.08,-0.00
8,2,2021-02-06,Credit repayment,808.16,nan,nan
9,2,2021-02-27,Charging interest,1046.67,1046.67,-0.00
10,2,2021-02-27,Credit repayment,202.60,nan,nan
11,2,2021-02-28,Charging interest,49.75,49.75,-0.00
12,2,2021-03-01,Charging interest,49.75,49.75,-0.00
13,2,2021-03-14,Charging interest,646.72,646.72,-0.00
14,2,2021-03-14,Credit repayment,1507.67,nan,nan
15,2,2021-03-27,Charging interest,637.65,637.65,-0.00
16,2,2021-03-27,Credit repayment,217.31,nan,nan
17,2,2021-03-31,Charging interest,195.80,195.80,-0.00
18,2,2021-04-01,Charging interest,48.95,48.95,-0.00
19,2,2021-04-15,Charging interest,685.29,685.29,-0.00
20,2,2021-04-15,Credit repayment,1481.68,nan,nan
21,2,2021-04-24,Charging interest,434.37,434.37,-0.00
22,2,2021-04-24,Credit repayment,273.35,nan,nan
23,2,2021-04-30,Charging interest,288.82,288.82,-0.00
24,2,2021-05-01,Charging interest,48.14,48.14,-0.00
25,2,2021-05-08,Charging interest,336.96,336.95,-0.00
26,2,2021-05-08,Credit repayment,746.88,nan,nan
27,2,2021-05-28,Charging interest,955.81,955.81,-0.00
28,2,2021-05-28,Credit repayment,234.14,nan,nan
29,2,2021-05-31,Charging interest,143.05,143.05,-0.00
30,2,2021-06-01,Charging interest,47.68,47.68,-0.00
31,2,2021-06-12,Charging interest,524.50,524.50,-0.00
32,2,2021-06-12,Credit repayment,1607.54,nan,nan
33,2,2021-06-28,Charging interest,751.01,751.01,-0.00
34,2,2021-06-28,Credit repayment,141.81,nan,nan
35,2,2021-06-30,Charging interest,93.75,93.74,-0.00
36,2,2021-07-01,Charging interest,46.87,46.87,-0.00
37,2,2021-07-26,Charging interest,1171.81,1171.81,-0.00
38,2,2021-07-26,Credit repayment,1079.56,nan,nan
39,2,2021-07-31,Charging interest,231.86,231.86,-0.00
40,2,2021-08-01,Charging interest,46.37,46.37,-0.00
41,2,2021-08-26,Charging interest on the date of restructuriza...,1159.31,1159.31,-0.00
42,2,2021-08-31,Charging interest,64.92,64.92,-0.00
43,2,2021-09-01,Charging interest,4.64,4.64,-0.00
44,2,2021-09-30,Charging interest,134.48,134.48,-0.00
45,2,2021-10-01,Charging interest,4.64,4.64,-0.00
46,2,2021-10-31,Charging interest,139.12,139.12,-0.00
47,2,2021-11-01,Charging interest,4.64,4.64,-0.00
48,2,2021-11-30,Charging interest,134.48,134.48,-0.00
49,2,2021-12-01,Charging interest,4.64,4.64,-0.00
50,2,2021-12-31,Charging interest,139.12,139.12,-0.00
51,2,2022-01-01,Charging interest,4.64,4.64,-0.00
52,2,2022-01-31,Charging interest,139.12,139.12,-0.00
53,2,2022-02-01,Charging interest,4.64,4.64,-0.00
54,2,2022-02-16,Charging interest,653.85,653.85,-0.00
55,2,2022-02-16,Credit repayment,827.09,nan,nan
56,2,2022-02-28,Charging interest,551.87,551.87,-0.00
57,2,2022-03-01,Charging interest,45.99,45.99,-0.00
58,2,2022-03-16,Charging interest,689.84,689.84,-0.00
59,2,2022-03-16,Credit repayment,736.84,nan,nan
60,2,2022-03-31,Charging interest,684.72,684.72,-0.00
61,2,2022-04-01,Charging interest,45.65,45.65,-0.00

In [11]:
# the problem seems to be at 2021-04-05 and 2021-05-05

get_df_ao_with_pred(3)

,credit_id,c_date,c_oper_name,c_amount_fact,c_amount_exp,c_amount_exp - c_amount_fact
0,3,2021-01-01,Credit issuing,542984.40,nan,nan
1,3,2021-01-05,Charging interest,889.60,889.60,-0.00
2,3,2021-01-31,Charging interest,5782.41,5782.41,-0.00
3,3,2021-02-05,Charging interest,1112.00,1112.00,-0.00
4,3,2021-02-05,Credit repayment,6667.96,nan,nan
5,3,2021-02-28,Charging interest,5052.40,5052.39,-0.00
6,3,2021-03-05,Charging interest,1098.35,1098.35,-0.00
7,3,2021-03-05,Credit repayment,7337.93,nan,nan
8,3,2021-03-31,Charging interest,5633.26,5633.26,-0.00
9,3,2021-04-05,Charging interest,1299.98,1083.32,-216.66
10,3,2021-04-05,Credit repayment,6818.31,nan,nan
11,3,2021-04-05,Credit repayment,3.46,nan,nan
12,3,2021-04-30,Charging interest,5346.74,5346.74,-0.00
13,3,2021-05-05,Charging interest,855.47,1069.35,213.88
14,3,2021-05-05,Credit repayment,7090.58,nan,nan
15,3,2021-05-31,Charging interest,5485.10,5485.10,-0.00
16,3,2021-06-05,Charging interest,1054.83,1054.83,-0.00
17,3,2021-06-05,Credit repayment,6974.55,nan,nan
18,3,2021-06-30,Charging interest,5202.72,5202.72,-0.00
19,3,2021-07-05,Charging interest,1040.54,1040.54,-0.00
20,3,2021-07-05,Credit repayment,7240.06,nan,nan
21,3,2021-07-31,Charging interest,5333.73,5333.73,-0.00
22,3,2021-08-05,Charging interest,1025.72,1025.72,-0.00
23,3,2021-08-05,Credit repayment,7130.65,nan,nan
24,3,2021-08-31,Charging interest,5257.79,5257.79,-0.00
25,3,2021-09-05,Charging interest,1011.11,1011.11,-0.00
26,3,2021-09-05,Credit repayment,7208.95,nan,nan
27,3,2021-09-30,Charging interest,4981.75,4981.75,-0.00
28,3,2021-10-05,Charging interest,996.35,996.35,-0.00
29,3,2021-10-05,Credit repayment,7469.39,nan,nan
30,3,2021-10-31,Charging interest,5101.48,5101.48,-0.00
31,3,2021-11-05,Charging interest,981.05,981.05,-0.00
32,3,2021-11-05,Credit repayment,7370.15,nan,nan
33,3,2021-11-30,Charging interest,4829.80,4829.80,-0.00
34,3,2021-12-06,Charging interest,1159.15,1159.15,0.00
35,3,2021-12-06,Overdue payment,7627.10,nan,nan
36,3,2021-12-08,Charging interest (on debt),6.25,6.25,-0.00
37,3,2021-12-08,Debt repayment,7627.10,nan,nan
38,3,2021-12-31,Charging interest,4751.70,4751.70,-0.00
39,3,2022-01-05,Charging interest,950.34,950.34,-0.00
40,3,2022-01-05,Credit repayment,342.80,nan,nan
41,3,2022-01-05,Credit repayment,7534.84,nan,nan
42,3,2022-01-22,Charging interest,3176.30,3176.30,-0.00
43,3,2022-01-22,Credit repayment,23101.13,nan,nan
44,3,2022-01-31,Charging interest,1596.41,1596.41,-0.00
45,3,2022-02-05,Charging interest,886.90,886.90,-0.00
46,3,2022-02-28,Charging interest,4079.73,4079.72,-0.00
47,3,2022-03-05,Charging interest,886.90,886.90,-0.00
48,3,2022-03-05,Credit repayment,8352.86,nan,nan
49,3,2022-03-31,Charging interest,4522.91,4522.91,-0.00
50,3,2022-04-05,Charging interest,869.79,869.79,-0.00
51,3,2022-04-05,Overdue payment,7957.58,nan,nan
52,3,2022-04-06,Charging interest (on debt),3.26,3.26,-0.00
53,3,2022-04-06,Debt repayment,7957.58,nan,nan

In [12]:
# let us have a look at daily info at these periods

df_daily = credits[2].df_daily
df_daily[(df_daily['date'] >= datetime.datetime(2021, 4, 1)) & (df_daily['date'] <= datetime.datetime(2021, 4, 10))]

         date  interest_rate  days_in_year  balance_owed  debt_owed
90 2021-04-01          14.95           365     528978.51       0.00
91 2021-04-02          14.95           365     528978.51       0.00
92 2021-04-03          14.95           365     528978.51       0.00
93 2021-04-04          14.95           365     528978.51       0.00
94 2021-04-05          14.95           365     522156.74       0.00
95 2021-04-06          14.95           365     522156.74       0.00
96 2021-04-07          14.95           365     522156.74       0.00
97 2021-04-08          14.95           365     522156.74       0.00
98 2021-04-09          14.95           365     522156.74       0.00
99 2021-04-10          14.95           365     522156.74       0.00

In [13]:
# the charging period for 2021-04-05 is [2021-03-31, 2021-04-05)

print(f'The daily interest for this period is {round(528978.51 * 0.1495 / 365,  2)}')

# which is exactly the amount of mistake

The daily interest for this period is 216.66

In [14]:
# let us have a look at daily info at these periods

df_daily = credits[2].df_daily
df_daily[(df_daily['date'] >= datetime.datetime(2021, 5, 1)) & (df_daily['date'] <= datetime.datetime(2021, 5, 10))]

          date  interest_rate  days_in_year  balance_owed  debt_owed
120 2021-05-01          14.95           365     522156.74       0.00
121 2021-05-02          14.95           365     522156.74       0.00
122 2021-05-03          14.95           365     522156.74       0.00
123 2021-05-04          14.95           365     522156.74       0.00
124 2021-05-05          14.95           365     515066.16       0.00
125 2021-05-06          14.95           365     515066.16       0.00
126 2021-05-07          14.95           365     515066.16       0.00
127 2021-05-08          14.95           365     515066.16       0.00
128 2021-05-09          14.95           365     515066.16       0.00
129 2021-05-10          14.95           365     515066.16       0.00

In [15]:
# the charging period for 2021-05-05 is [2021-04-30, 2021-05-05)

print(f'The daily interest for this period is {round(522156.74 * 0.1495 / 365,  2)}')

# again - it is exactly the amount of mistake

The daily interest for this period is 213.87

In [16]:
# the deviations appear after 2021-09-30

get_df_ao_with_pred(4)

,credit_id,c_date,c_oper_name,c_amount_fact,c_amount_exp,c_amount_exp - c_amount_fact
0,4,2021-01-01,Credit issuing,105485.23,nan,nan
1,4,2021-01-15,Charging interest,643.32,643.32,-0.00
2,4,2021-01-31,Charging interest,735.22,735.22,-0.00
3,4,2021-02-15,Charging interest,689.27,689.27,-0.00
4,4,2021-02-15,Overdue payment,3359.26,nan,nan
5,4,2021-02-28,Charging interest,578.34,578.34,-0.00
6,4,2021-02-28,Charging interest (on debt),19.02,19.02,-0.00
7,4,2021-03-15,Charging interest,667.32,667.32,-0.00
8,4,2021-03-15,Overdue payment,3549.33,nan,nan
9,4,2021-03-15,Charging interest (on debt),21.95,21.95,-0.00
10,4,2021-03-31,Charging interest,687.07,687.07,-0.00
11,4,2021-03-31,Charging interest (on debt),48.15,48.15,-0.00
12,4,2021-04-15,Charging interest,644.12,644.12,-0.00
13,4,2021-04-15,Overdue payment,3458.42,nan,nan
14,4,2021-04-15,Charging interest (on debt),45.14,45.14,-0.00
15,4,2021-04-30,Charging interest,621.53,621.53,-0.00
16,4,2021-04-30,Charging interest (on debt),67.74,67.74,-0.00
17,4,2021-05-17,Charging interest,704.40,704.40,-0.00
18,4,2021-05-17,Overdue payment,3552.10,nan,nan
19,4,2021-05-17,Charging interest (on debt),76.77,76.77,-0.00
20,4,2021-05-31,Charging interest,558.43,558.43,-0.00
21,4,2021-05-31,Charging interest (on debt),84.89,84.89,-0.00
22,4,2021-06-15,Charging interest,598.32,598.32,-0.00
23,4,2021-06-15,Overdue payment,3559.04,nan,nan
24,4,2021-06-15,Charging interest (on debt),90.95,90.95,-0.00
25,4,2021-06-30,Charging interest,575.06,575.06,-0.00
26,4,2021-06-30,Charging interest (on debt),114.21,114.21,-0.00
27,4,2021-07-15,Charging interest,575.06,575.06,-0.00
28,4,2021-07-15,Overdue payment,3650.88,nan,nan
29,4,2021-07-15,Charging interest (on debt),114.21,114.21,-0.00
30,4,2021-07-30,Charging interest,551.20,551.20,-0.00
31,4,2021-07-30,Overdue payment,84356.20,nan,nan
32,4,2021-07-30,Charging interest (on debt),138.06,138.06,-0.00
33,4,2021-07-31,Charging interest (on debt),45.95,45.95,-0.00
34,4,2021-08-16,Charging interest (on debt),735.22,735.22,-0.00
35,4,2021-08-19,Debt repayment,1672.27,nan,nan
36,4,2021-09-03,Charging interest (on debt),816.19,816.19,-0.00
37,4,2021-09-15,Charging interest (on debt),542.67,542.67,-0.00
38,4,2021-09-30,Charging interest (on debt),711.78,678.34,-33.44
39,4,2021-10-15,Charging interest (on debt),752.96,678.34,-74.62
40,4,2021-10-31,Charging interest (on debt),805.89,723.56,-82.33
41,4,2021-11-15,Charging interest (on debt),786.40,678.34,-108.06
42,4,2021-11-30,Charging interest (on debt),794.13,678.34,-115.79
43,4,2021-12-15,Charging interest (on debt),824.99,678.34,-146.65
44,4,2021-12-31,Charging interest (on debt),893.38,723.56,-169.82
45,4,2022-01-17,Charging interest (on debt),987.48,768.78,-218.70
46,4,2022-01-31,Charging interest (on debt),813.22,633.12,-180.11
47,4,2022-02-15,Charging interest (on debt),904.05,678.34,-225.71
48,4,2022-02-28,Charging interest (on debt),790.60,587.89,-202.71
49,4,2022-03-15,Charging interest (on debt),944.97,678.34,-266.63
50,4,2022-03-31,Charging interest (on debt),1016.70,723.56,-293.14
51,4,2022-04-15,Charging interest (on debt),991.34,678.34,-313.00

In [17]:
# the problem with this one appeared to be due to charging penalty interest to this credit (as there were no credit repayments)
# however those penalties should have been made as a different operation
# as for this credit, there were by mistake added to usual charging operations

## Expedited option

In [18]:
pd.options.display.max_rows = 60
sd.seedir(style='emoji', itemlimit=10, beyond='ellipsis', exclude_folders=['.git', '.ipynb_checkpoints'])

ğŸ“ InterestCharging/
â”œâ”€ğŸ“ data/
â”‚ â”œâ”€ğŸ“„ ActualOperations.csv
â”‚ â””â”€ğŸ“„ Rates.csv
â”œâ”€ğŸ“„ InterestCharging.ipynb
â””â”€ğŸ“ output/
  â”œâ”€ğŸ“„ df_results_detailed.csv
  â””â”€ğŸ“„ df_results_expedited.csv

In [19]:
# DataFrame containing interest rates of the credits

df_rates = pd.read_csv('data/Rates.csv')
df_rates['c_rate_begin_date'] = pd.to_datetime(df_rates['c_rate_begin_date'])
df_rates['c_rate_end_date'] = pd.to_datetime(df_rates['c_rate_end_date'])
df_rates

   credit_id c_rate_begin_date c_rate_end_date  c_rate
0          1        2021-01-01             NaT   11.90
1          2        2021-01-01      2021-08-26   16.90
2          2        2021-08-27      2022-02-01    1.69
3          2        2022-02-02             NaT   16.90
4          3        2021-01-01             NaT   14.95
5          4        2021-01-01             NaT   15.90

In [20]:
# DataFrame containing actual operations of the credits

df_ao = pd.read_csv('data/ActualOperations.csv')
df_ao['c_date'] = pd.to_datetime(df_ao['c_date'])
df_ao

     credit_id     c_date                  c_oper_name  c_amount
0            1 2021-01-01               Credit issuing 341582.70
1            1 2021-01-03            Charging interest    222.73
2            1 2021-01-03             Credit repayment   1884.43
3            1 2021-01-03             Credit repayment   1426.00
4            1 2021-01-09            Charging interest    661.72
..         ...        ...                          ...       ...
281          4 2022-02-15  Charging interest (on debt)    904.05
282          4 2022-02-28  Charging interest (on debt)    790.60
283          4 2022-03-15  Charging interest (on debt)    944.97
284          4 2022-03-31  Charging interest (on debt)   1016.70
285          4 2022-04-15  Charging interest (on debt)    991.34

[286 rows x 4 columns]

In [21]:
# encode the operations

df_oper_codes = {'Credit issuing': 0,
                 'Charging interest': 1,
                 'Overdue payment': 2,
                 'Charging interest (on debt)': 3,
                 'Credit repayment': 4,
                 'Debt repayment': 5,
                 'Charging interest on the date of restructurization': 6,
                 'Changing interest rate': 7}

In [22]:
# consider the establishing of the interest rate as an actual operation to concat both DataFrames into one

df_rates_m = df_rates.rename({'c_rate_begin_date': 'c_date', 'c_rate': 'c_amount'}, axis='columns')\
                     .drop('c_rate_end_date', axis='columns')
df_rates_m['c_oper_name'] = 'Changing interest rate'
df_rates_m = df_rates_m[['credit_id', 'c_date', 'c_oper_name', 'c_amount']]
df_rates_m

   credit_id     c_date             c_oper_name  c_amount
0          1 2021-01-01  Changing interest rate     11.90
1          2 2021-01-01  Changing interest rate     16.90
2          2 2021-08-27  Changing interest rate      1.69
3          2 2022-02-02  Changing interest rate     16.90
4          3 2021-01-01  Changing interest rate     14.95
5          4 2021-01-01  Changing interest rate     15.90

In [23]:
# concat and sort the united DataFrame
df_opers = pd.concat([df_ao, df_rates_m])
df_opers['c_oper_name'] = df_opers['c_oper_name'].map(df_oper_codes)
df_opers = df_opers.sort_values(['credit_id', 'c_date', 'c_oper_name'])

# add a fake credit in the end of the DataFrame 
# (because the sum of deviations is calculated and saved when we see a new 'Credit Issuing' operation)
df_opers.loc[len(df_opers)] = [-1, datetime.datetime(2100, 1, 1), 0, -1.]

# map all the credit ids in order for them to occupy as little memory space as possible
mapping = {item: i for i, item in enumerate(df_opers['credit_id'].unique())}
df_opers['credit_id'] = df_opers['credit_id'].apply(lambda x: mapping[x])

df_opers = df_opers.reset_index(drop=True)
df_opers

     credit_id     c_date  c_oper_name  c_amount
0            0 2021-01-01            0 341582.70
1            0 2021-01-01            7     11.90
2            0 2021-01-03            1    222.73
3            0 2021-01-03            4   1884.43
4            0 2021-01-03            4   1426.00
..         ...        ...          ...       ...
288          3 2022-02-28            3    790.60
289          3 2022-03-15            3    944.97
290          3 2022-03-31            3   1016.70
291          3 2022-04-15            3    991.34
292          4 2100-01-01            0     -1.00

[293 rows x 4 columns]

In [24]:
df_opers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 4 columns):
credit_id      293 non-null int64
c_date         293 non-null datetime64[ns]
c_oper_name    293 non-null int64
c_amount       293 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 9.3 KB

In [25]:
# downcast all integer and float columns to reduce memory usage

fcols = df_opers.select_dtypes('float').columns
icols = df_opers.select_dtypes('integer').columns

df_opers[fcols] = df_opers[fcols].apply(pd.to_numeric, downcast='float')
df_opers[icols] = df_opers[icols].apply(pd.to_numeric, downcast='integer')

df_opers.dtypes

credit_id                int8
c_date         datetime64[ns]
c_oper_name              int8
c_amount              float32
dtype: object

In [26]:
df_opers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 4 columns):
credit_id      293 non-null int8
c_date         293 non-null datetime64[ns]
c_oper_name    293 non-null int8
c_amount       293 non-null float32
dtypes: datetime64[ns](1), float32(1), int8(2)
memory usage: 4.1 KB

In [27]:
# create Dask DataFrame from df_opers
ddf_opers = dd.from_pandas(df_opers, npartitions=1)

In [28]:
start_time = time.time()

current_id = 0
current_balance_owed = 0
current_debt_owed = 0
current_balance_previous_date = datetime.datetime(2000, 1, 1)
current_debt_previous_date = datetime.datetime(2000, 1, 1)
current_rate = 0
current_diff = 0
current_abs_diff = 0
current_balance_payment = 0
current_debt_payment = 0


df_results = pd.DataFrame(columns=['credit ID', 'difference', 'abs difference'])

for op in ddf_opers.itertuples():
    if op[3] == 0:                       # Credit issuing
        df_results.loc[len(df_results)] = [current_id, current_diff, current_abs_diff]
        current_diff = 0
        current_abs_diff = 0
        current_id = op[1]
        current_balance_owed = op[4]
        current_debt_owed = 0
        current_balance_payment = 0
        current_debt_payment = 0
        current_rate = 0
        current_balance_previous_date = op[2]
        
    elif op[3] in [1, 6]:                # Charging interest / Charging interest on the date of restructurization
        current_balance_payment += current_balance_owed * (op[2] - current_balance_previous_date).days * current_rate / 100 / 365
        current_diff += (current_balance_payment - op[4])
        current_abs_diff += abs(current_balance_payment - op[4])
        current_balance_previous_date = op[2]
        # df_opers.loc[op[0], 'exp'] = current_balance_payment # logging
        current_balance_payment = 0
        
    elif op[3] == 2:                     # Overdue payment
        if current_debt_owed != 0:
            current_debt_payment += current_debt_owed * (op[2] - current_debt_previous_date).days * current_rate / 100 / 365
        current_debt_owed += op[4]
        current_balance_owed -= op[4]
        current_debt_previous_date = op[2]
        
    elif op[3] == 3:                     # Charging interest (on debt)
        current_debt_payment += current_debt_owed * (op[2] - current_debt_previous_date).days * current_rate / 100 / 365
        current_diff += (current_debt_payment - op[4])
        current_abs_diff += abs(current_debt_payment - op[4])
        current_debt_previous_date = op[2]
        # df_opers.loc[op[0], 'exp'] = current_debt_payment # logging
        current_debt_payment = 0
        
    elif op[3] == 4:                     # Credit repayment
        current_balance_owed -= op[4]
        
    elif op[3] == 5:                     # Debt repayment
        current_debt_payment += current_debt_owed * (op[2] - current_debt_previous_date).days * current_rate / 100 / 365
        current_debt_owed -= op[4]
        current_debt_previous_date = op[2]

    elif op[3] == 7:                     # Changing interest rate  
        current_balance_payment += current_balance_owed * (op[2] - current_balance_previous_date).days * current_rate / 100 / 365
        current_balance_previous_date = op[2]
        current_debt_payment += current_debt_owed * (op[2] - current_debt_previous_date).days * current_rate / 100 / 365
        current_debt_previous_date = op[2]
        current_rate = op[4]
    
    df_results.to_csv('output/df_results_expedited.csv')
    
print(f'All credits are processed; time taken = {round(time.time() - start_time, 2)}')

All credits are processed; time taken = 0.47

In [29]:
df_results['credit ID'] = df_results['credit ID'].astype(int)
# dropping the 'fake' credit
df_results = df_results.drop(0)
df_results

   credit ID difference abs difference
1          0      -0.03           0.03
2          1      -0.02           0.02
3          2      -2.81         430.57
4          3   -2430.74        2430.74